body{
    background: url('../img/gradient55.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    
}
@media (max-width:1440px){
    body{
        background: url('../img/gradient55.png');
        overflow-x: hidden;
    }
}
.sludcon{
    width: 769.71px;
height: 359.33px;
display: flex;
flex-direction: row;
margin: 55px auto 0 244px;
}
.sludbox1{
width: 375px;
height: auto;
margin-right: 62px;
}
.sludbox2{
    width: 266px;
    height: auto;
}
.form-border{
    width: 374.48px;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
    height: 29px;
    resize: none;
    overflow: hidden;
}
textarea:focus{
    border: 2px solid #FF81C0;
    outline: none !important;
}
.form-height{
    height: 89px;
}
.sludbutton{
    padding: 10px 20px;
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    width: 78px;
    height: 41px;
    background: #FFFFFF;
    border-radius: 20px;
    border: 0;
    margin-top: 35px;
}
@media (max-width:1023px){
    .sludcon {
        width: 650px;
        height: 359.33px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .sludbox1{
        margin-right: 0;
    }
    .sludbox2{
        margin-top: 71px;
    }
}
@media (max-width:767px){
    .sludcon {
        width: 420px;
        height: 359.33px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .sludbox1{
        width: 299px;
    }
    .sludbox2{
        margin-top: 71px;

    }
}
@media (max-width:474px){
    .sludcon {
        width: 280px;
        height: 359.33px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .form-border{
        width: 280px;
    }
    .sludbox1{
        width: 299px;
        margin: auto;
    }
    .sludbox2{
        margin: 70px auto auto auto;

    }
}
.boxs4{
    position: absolute;
    width: 386.52px;
    height: 386.52px;
    top: 478px;
    right: 210px;
}
.illubox2{
overflow: hidden;
width: 386.52px;
height: 392.52px;
}
.illu6{
position: relative;
width: 386.52px;
height: 386.52px;
}
@media (max-width:1344px){
    .boxs4{
        position: absolute;
        width: 386.52px;
        height: 386.52px;
        top: 478px;
        right: 110px;
    }
}
@media (max-width:1181px){
    .boxs4{
        position: absolute;
        width: 386.52px;
        height: 386.52px;
        top: 478px;
        right: 0px;
    }
}
@media (max-width:1101px){
    .boxs4{
        position: absolute;
        width: 386.52px;
        height: 386.52px;
        top: 478px;
        right: 0px;
    }
}
@media (max-width:761px){
    .boxs4{
        position: absolute;
        width: 386.52px;
        height: 386.52px;
        top: 639px;
        right: 0px;
    }
    .illu6{
        right: -154px;
    }
}
.button-transition{
    transition: 200ms;
    background: #FFFFFF;
    border-radius: 20px;
    color: #554F4F;
    border:0px;
}
.button-transition:hover{
    background: #CEB4F5;
}
.button-transition:focus{
    background: rgba(0, 0, 0, 0);
    border: 5px solid #CEB4F5;
    padding: 0px 10px;
}