@media(max-width:1439px){

    .birojheader{
        display: flex;
        margin-top: 74px !important;
        height: 54px;
        width: 1032px;
        margin: auto;
        flex-direction: row;
    }
    .topbiroj{
    
        display: flex;
        flex-direction: row;
    }
}
@media (max-width:1100px){
    .apsveikumi {
        width: 650px;
        height: 359.33px;
        display: block !important;
        flex-direction: column;
        margin: auto;
        margin-left: 10% !important;
    }
    .apsveikumibox1{
        margin-right: 0;
        margin-bottom: 150px;
    }
    .apsveikumibox2{
        margin-top: 71px;
        margin-left: 0px !important;
    }

    #apsveikumu_illu{
        margin: 1050px 10% 200px 54% !important;
    }
}
@media (max-width:767px){

    
    .apsveikumibox1{
        width: 299px;
    }
    .apsveikumibox2{
        margin-top: 71px;
    }

    #apsveikumu_illu{
        margin: 1200px 10% 200px 35% !important;
    }
}
@media (max-width:474px){
    .apsveikumicon {
        width: 280px;
        height: 359.33px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .form-border{
        width: 280px;
    }
    .apsveikumibox1{
        width: 299px;
        margin: auto;
    }
    .apsveikumibox2{
        margin: 70px auto auto auto;

    }
}

.arrowsize{
    width: 7.74px;
    height: 14.96px;
    margin: auto 0 auto 0;
}

.apsveikumi{
    width: 924.71px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 55px auto 0 244px;
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}
.apsveikumibox1{
    width: 425px;
    height: auto;
    margin-right: 62px;
}
.apsveikumibox2{
    width: 400px;
    height: auto;
    margin-left: 50px;
}
.form-border{
    width: 374.48px;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
    height: 29px;
    resize: none;
    overflow: hidden;
}

.form-border-big {
    width: 374.48px;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
    height: 130px;
    resize: none;
    overflow: hidden;
}

.form-border-row{
    width: 170px;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0);
    border-radius: 20px;
    height: 29px;
    resize: none;
    overflow: hidden;
}
textarea:focus{
    border: 2px solid #FF81C0;
    outline: none !important;
}
.sutit-button{
    padding: 10px 20px;
    font-family: 'Poppins-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.03em;
    width: 178px;
    height: 41px;
    background: #FFFFFF;
    border-radius: 20px;
    border: 0;
    margin-top: 35px;
}

.height1 {
    margin-bottom: 15px;
}

.apsveikumu-date {
    width: 170px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
    box-sizing: border-box;
}

.btn-laiks {
    width: 170px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
    box-sizing: border-box;
}

.number_change {
    display: flex !important;
    margin-top: 10px;
}

#border-number{
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    margin: auto 10px auto 11px;
    text-align: center;
    padding: 0px 13px;
    font-size: 14px;
}

#apsveikumu_illu{
    position: absolute;
    z-index: -1;
    width: 400px;
    height: auto;
    margin: 450px 10% 200px 54%;
}