.raidcon{
    width: 1033px;
    height: auto;
    margin: 60px auto 0 auto;
    display: flex;
    flex-direction: column;
}
.raidbox{
    width: 1033px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.raidcircle{
    width: 305.42px;
    margin-right: 59px;
height: 305.42px;
padding: 100px 87px 87px 87px;
background: radial-gradient(50% 50% at 50% 50%, #FFC4DD 0%, rgba(255, 85, 163, 0) 100%);
opacity: 0.7;
transition: 200ms;
}
.raidcircle:hover{
    background: radial-gradient(50% 50% at 50% 50%, #785FEC 0%, rgba(255, 85, 163, 0) 100%);
    opacity: 0.7;
    transition: 200ms;
}
.circletext{
    font-family: 'Poppins';
    width: 110px;
height: 54px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    
    color: #000000;
}
.cm{
    margin-right: 0px !important;
}
@media(max-width:1160px){
    .raidcircle{
        width: 305.42px;
        margin-right: 39px;
    height: 305.42px;

    }
    .raidcon{
        width: 993px;

    }
    .raidbox{
        width: 993px;

    }
}
@media(max-width:1023px){
    .raidcircle{
        width: 237px;
        height: 237px;
        margin-right: 45px;
        padding: 87px 87px 87px 63px;
    }
    .raidcon{
        width: 520px;
        flex-direction: row;
    }
    .raidbox{
    flex-direction: column;
    width: 237px;

    }
}
@media(max-width:767px){
    .raidcircle{
        width: 177px;
        height: 177px;
        margin-right: 8px;
        padding: 66px 87px 87px 38px;
    }
    .raidcon{
        width: 362px;
        flex-direction: row;
    }
    .raidbox{
    flex-direction: column;
    width: 362px;

    }
    .tp{
        word-break: break-all;
    }
}
@media(max-width:424px){
    .raidcircle{
        width: 150px;
        height: 150px;
        margin-right: 8px;
        padding: 50px 87px 87px 22px;
    }
    
    .raidcon{
        width: 308px;
        flex-direction: row;
    }
    .raidbox{
    flex-direction: column;
    width: 308px;

    }
    .tp{
        word-break: break-all;
    }
}